.button5{
	padding:0.46em 1.6em;
	border:0.1em solid $black;
	margin:0 .2em 0 .2em;
	display:inline-block;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:$helveticaNeue;
	font-weight:300;
	color:$black;	
	background-color:$blue;
	text-align:center;
	transition: all 0.15s;
	width:6em;
	height:2em;
	
	@include rounded;
	
	@extend %shadow;
	
	&:hover{
		text-shadow: 0 0 2em rgba(255,255,255,1);
		color:$white;
		border-color:$white;
	}
}